*.DS_Store
a.out
*.o
*.so
*~
*.webarchive
*.42
deepthought
vgcore*
Test
Missions/*/MCRUN*
Missions/*_sim_*
cspice
Model/spice_kernels/*/
CMakeFiles
Makefile
CMakeCache.txt
cmake_install.cmake
*.tar*
**/*42kit*
AcApp